.header__container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.header__container > a {
  font-size: 1.5rem;
  padding: 1rem;
  color: rgb(107, 107, 107);
}

.header__container > a:hover {
  color: rgb(0, 0, 0);
}

.active {
  border-bottom: 1px solid black;
}
